<footer class="footer">
    <div class="f-info-socials">
        <div class="f-info-lang">
            <i class="fa-solid fa-globe"></i>
            <a href="#" class="language">English (IN)</a>
        </div>
        <div class="f-info">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="company">
        <p>&copy; 2024 NestFinder private Ltd.</p>
    </div>
    <div class="f-info-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">About company</a>
    </div>
</footer>